<header>
    <nav class="navbar bg-body-tertiary navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ArmyBody</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ArmyBody</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        {{#if user}}
                            <li class="nav-item">
                                {{user.email}}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="http://localhost:8080/api/users/signout">Cerrar</a>
                            </li>
                        {{else}}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/login">Ingresa</a>
                            </li>
                        {{/if}}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="admin/products">Products</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <h1>Bienvenido administrador</h1>
    </div>
</main>