<h1>CHATCODE</h1>
<h2 id="name"></h2>

<form id="formChat">
    <input type="text" id="formMessage">
    <input type="submit" value="Enviar">
</form>

<div id="chat"></div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>