<header>
    <nav class="navbar bg-body-tertiary navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ArmyBody</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://localhost:8080/login">Ingresa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <h1>
            Digitar nueva contraseña:
        </h1>
        <form action="http://localhost:8080/api/users/restore/{{user._id}}" method="post">
            <h1>Bienvenido {{user.firstName}} {{user.lastName}}</h1>
            <h2>Procede a digitar tu nueva contraseña, procura que sea una nueva a la anterior</h2>
            <div class="col-md-12">
                <label for="password1" class="form-label">Email</label>
                <input type="password" class="form-control" placeholder="Nueva contraseña" name="password1" id="password1" required>
            </div>
            <div class="col-md-12">
                <label for="password2" class="form-label">Email</label>
                <input type="password" class="form-control" placeholder="Repetir contraseña" name="password2" id="password2" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
            </div>
        </form>
    </div>
</main>